/* CSS Variables */
:root {
    --primary-color: #1a0244;
    --secondary-color: rgb(249, 21, 59);
    --background-light: #fbfbfb;
    --background-dark: rgba(0, 0, 0, 0.8);
    --highlight-color: rgb(255, 196, 0);
    --text-color: #fff;
    --border-color: #CCC;
    --error-color: red;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    text-align: center;
    margin: 25px 0px;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--text-color);
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
}

nav .logo {
    font-size: 20px;
}

nav .logo h1 span {
    color: var(--secondary-color);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 19px;
    color: var(--text-color);
    margin-inline: 22px;
}

ul li a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

/* Search Bar */
.searchBar {
    display: flex;
}

.searchBar input {
    border: none;
    outline: none;
    border-bottom: 2px solid #b3afaf;
    font-size: 18px;
    background-color: var(--text-color);
}

.searchBar img {
    margin-left: -35px;
    width: 30px;
}

/* Hamburger Menu Button */
.hamburger-menu {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

/* Side Navigation */
.side-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #bd93fd63;
    color: #fff;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 999;
}

.side-nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}


.side-nav ul li {
    margin: 20px 0;
}

.side-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.3s ease;
}

.side-nav ul li a:hover {
    color: #f1c40f;
}

/* Cart Section */
.cart {
    display: flex;
}

.cart img {
    font-size: 25px;
    width: 70px;
}

#cartNum {
    text-align: center;
    background: var(--secondary-color);
    width: 26px;
    border-radius: 22px;
    height: 23px;
    padding-top: 4px;
}

/* main content */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* Adjust spacing between grid items */
    margin: 133px 0px;
}

.mainText {
    margin-top: 44px;
}

.mainText h1 {
    font-size: 65px;
    color: var(--primary-color);
}

.mainText p {
    margin-top: 22px;
}

.mainText button {
    margin-top: 22px;
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 40%;
}

.mainText button a {
    text-decoration: none;
    color: var(--text-color);
}

/* Shops Section */
#shop {
    background-color: var(--highlight-color);
    padding: 15px 0;
}

.shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shops .card {
    width: 350px;
    margin-inline-start: 22px;
    margin-top: 22px;
    background-color: aliceblue;
}

.shops .card span {
    cursor: pointer;
}

.shops .card p {
    margin-left: 11px;
    font-size: 20px;
}

.shops .card img {
    width: 100%;
    height: 300px;
}

.shops .card button {
    position: relative;
    top: -39px;
    width: 120px;
    height: 35px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 18px;
}

.card .add_to_cart:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e8d9fa;
    padding-bottom: 20px;
}

.gallery img {
    width: 450px;
    margin-inline: 22px;
    margin-top: 22px;
}

/* Connect Section */
.connect {
    width: 400px;
    padding: 22px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 3px gray;
    text-align: center;
    margin: auto;
}

.connect input {
    width: 90%;
    height: 12px;
    padding: 12px;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    margin-top: 22px;
}

.connect button {
    width: 140px;
    height: 40px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 20px;
    border: none;
    margin-top: 22px;
}

/* Footer Section */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.footer .text p {
    margin-top: 12px;
}

/* contact */
#contact {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 25px;
}

form label {
    display: block;
    margin: 1em 0 .2em;
}

form {
    border: 1px solid var(--border-color);
    padding: 15px;
    width: 500px;
    margin-right: 55px;
}

/* single-line text, checkbox, and button */
form input,
form select,
form textarea {
    display: block;
    width: 100%;
    font-size: 25px;
    background-color: var(--background-light);
    border: solid 1px var(--border-color);
    resize: vertical;
}

form input[type=checkbox] {
    display: inline;
    width: auto;
}

form input[type=submit] {
    background: var(--secondary-color);
    margin-top: 1em;
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    font-size: 20px;
    padding: 5px;
}

form textarea {
    min-height: 180px;
}

form select {
    color: indigo;
    font-size: 15px;
    padding: 5px;
}

/* hover and focus states */
input[type=submit]:hover,
input[type=submit]:focus {
    background: var(--highlight-color);
    outline: none;
}

.error {
    color: var(--error-color);
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}

/* quick view model */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-dark);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    position: relative;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-dark);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/* Add to cart page css */

.cart_body {
    background-color: #e8d9fa;
}

.cart_container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header h1 {
    font-size: 25px;
    color: var(--primary-color);
}

.cart-header a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.cart-header a:hover {
    color: var(--highlight-color);
}

/* Table styling */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--background-light);
}

.cart-table th,
.cart-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--border-color);
}

.cart-table th {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}

.cart-table td {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.cart-table img {
    max-width: 60px;
    height: auto;
    border-radius: 4px;
}
.cart-table .quantity {
    text-align: center;
}

/* Actions and buttons */
.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-actions .total {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.cart-actions button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-actions button:hover {
    background-color: var(--highlight-color);
}
.remove{
    background-color: var(--highlight-color);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    color: #000;  
}
.remove:hover{
color: var(--text-color);
background-color: var(--secondary-color);
}

/* Empty cart message */
.empty-cart {
    text-align: center;
    padding: 20px;
    display: none;
    /* Initially hidden */
}

.empty-cart h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.empty-cart p {
    font-size: 1rem;
    color: var(--secondary-color);
}



/* Responsive Design */
@media screen and (min-width:600px) {

    /*  make the form 2 columns */
    form:after {
        content: '';
        display: block;
        clear: both;
    }

}

@media (max-width: 1024px) {
    h1 {
        font-size: 22px;
    }

    .searchBar input {
        font-size: 15px;
    }

    .cart img {
        width: 45px;
        margin: 15px 0;
    }

    /* .main {
        margin: 50px 0;
    } */

    .main img {
        width: 100%;
    }

    .shops .card {
        margin: 22px;
    }

    #contact form {
        margin-right: 0px;
    }

    #contact img {
        width: 565px
    }

    #contact .column {
        width: 100%;
        margin-bottom: 20px;
    }

    form textarea {
        min-height: 70px;
    }


    #contact .contact-banner {
        width: 100%;
        margin-top: 20px;
    }

    .cart-table th {
        font-size: 10px;
    }

    /* add to cart */

    .cart_container {
        max-width: 945px;
    }

    .cart-header {
        margin-bottom: 10px;
    }
}

/* Show Hamburger on Mobile */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        padding: 10px 0;
        color: var(--text-color);
    }

    nav ul {
        display: none;
    }

    .side-nav ul {
        list-style: none;
        padding: 80px 20px;
        margin: 0;
    }

    .side-nav ul li a:hover {
        border-bottom: 1px solid var(--secondary-color);
        background-color: #ae86bf;
        color: var(--text-color);
        padding: 5px 10px;
    }

    .main {
        display: block;
    }

    .main img {
        margin-top: 44px;
    }

    #contact {
        display: block;
    }

    #contact form {
        width: 96%;
    }

    #contact img {
        width: 100%;
    }

    .cart_container {
        max-width: 700px;
    }

    .cart-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-header h1 {
        font-size: 20px;
    }

    .cart-header a {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .cart-table {
        font-size: 0.8rem;
    }

    .cart-table th,
    .cart-table td {
        padding: 8px;
    }

    .cart-table img {
        max-width: 40px;
    }

    .cart-actions {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .cart-actions .total {
        font-size: 1rem;
    }

    .cart-actions button {
        width: 100%;
    }

    .empty-cart h2 {
        font-size: 1.2rem;
    }

    .empty-cart p {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 425px) {
    nav h1 {
        font-size: 15px;
    }
    .side-nav{
        width: 200px;
    }
    .side-nav ul li a{
        font-size: 15px;
    }

    .searchBar {
        display: none;
    }
    .cart_container {
        max-width: 365px;
    }

    .cart-table {
        width: 50%;
    }

    .cart-table .quantity {
        width: 20px;
        text-align: center;
        font-size: 10px;
    }

    .cart-actions button {
        width: 90%;
        padding: 5px;
        font-size: 10px;
    }
    .cart-table th, .cart-table td {
        font-size: 10px;
    }
    .remove{
        background-color: var(--highlight-color);
        border: none;
        border-radius: 5px;
        padding: 5px;
        color: #000;
        font-size: 10px;   
    }
    .gallery img {
        width: 350px;}
}

@media (max-width: 480px) {
    .cart-header h1 {
        font-size: 15px;
    }

    .cart-header a {
        font-size: 0.8rem;
    }

    .cart-table {
        font-size: 0.7rem;
    }

    .cart-table img {
        max-width: 30px;
    }

    .cart-actions .total {
        font-size: 0.9rem;
    }

    .empty-cart h2 {
        font-size: 1rem;
    }

    .empty-cart p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:320px){
    .cart-table th, .cart-table td{
        font-size: 7px;
    }
    .cart_container{
        max-width: 300px;
        padding: 5px;
    }
    .gallery img {
        width: 300px;}
}